@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cell-width: 150px;
  --color-gray-500: oklch(0.554 0.046 257.417);
  --color-gray-700: oklch(0.372 0.044 257.287);
  --color-gray-800: oklch(0.279 0.041 260.031);

  --color-red-400: oklch(0.704 0.191 22.216);
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: var(--color-gray-700);
}
